
:root   {
    --cor_nova: #349e36;
    --branco_2: #FFFFF1
}

/*
    var(--cor_nova)
    #349e36
*/

/*
    white
    #FFFFFF
*/



body {
    background-color: var(--cor_nova);
}


#h123 {
    background-color: white;
    color:red;
    text-align: right;
}

.city {
    background-color: blue;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }


h1.br2 {
    background-color: red;
    color: brown;
    margin: 2cm;
    padding: 20px;
  }

/*
aqui eu posso comentar
*/

.red2 {
    background-color: red;
    color: black;
    border: 2px solid pink;
    margin: 20px;
    padding: 20px;
  }

