
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




/* Definindo margem e espaçamento para 0 em todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Aplicar a fonte a todos os elementos */
body {
    font-family: "Poppins", sans-serif;
}

/* Fazer a página deslizar suavemente */
html {
    scroll-behavior: smooth;
}

p {
    color: gray;
}

/* Selecionando tanto o elemento nav qunato o com a classe nav-links */

nav,
.nav-links {
    display: flex;
}

/* Define o alinhamento e como os itens de navegação ficam */
nav {
    justify-content: space-around;
    align-items: center;
    height: 2.5cm;
}

/* Lista de navegação */
.nav-links {
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
}

/* Itens de Navegação */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

/* Brincando com o mouse passando em cima */
a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: .4cm;
    text-decoration-color: black;

}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Cima, Direita, Baixo, Esquerda */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container img {
    border-radius: 50%;
}


.section__text {
    align-self: center;
    text-align: center;
}




